<form action="/" method="POST" class="mb-4">
    <div class="form-group">
        <textarea class="form-control" name="twit" id="twit" rows="3" placeholder="¿Qué estas pensando?"></textarea>
    </div>
    <button type="submit" class="btn btn-primary btn-sm btn-block">Enviar</button>
</form>

<% result.forEach(twit => { %>
<div class="card mb-2">
    <div class="card-body p-3">
        <h5 class="card-title h6 mb-0"><a href="/<%= twit.userId %>">@<%= twit.userId %></a></h5>
        <small
            class="card-subtitle mb-2 text-muted"><%= new Date(twit.createdAt).toISOString().split('T')[0].split('-').reverse().join('/') %></small>
        <p class="card-text"><%= twit.twit.slice(0, 70) %><% if (twit.twit.length > 70) { %>...<% } %></p>
        <a href="/twit/<%= twit._id %>" class="card-link">Ver</a>
    </div>
</div>
<% }) %>